.separator {
  background-image: linear-gradient(
    to right,
    #ffee01,
    #f67844,
    #f35145,
    #b558ad,
    #c0a0d1,
    #019cd7,
    #01b59c
  );
  height: 8px;
  width: 70%;
  border-radius: 3px;
  margin: 16px 0px;
}
