.about {
  /* height: 75vh; */
  padding-bottom: 26px;
  background-image: url('../../../assets/try.gif');
  background-size: contain;


 
}
.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #def6e4;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.picture {
  height: 420px;
}
.about-info {
  font-size: 24px;
  padding-left: 60px;
}
.info-name {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 32px;
  color: #92e3a9;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #92e3a9;  /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #def6e4; }
}
@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    height: 280px;
  }
  .about-info {
    font-size: 20px;
  }
  .info-name {
    font-size: 26px;
  }
}
